.msg{
  border: solid 2px transparent;
  border-radius : 10px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  font-size: 25px;
}

.idbp-integration-msg{
  margin-top: 10px;
  text-align: center;
}
