.icon{
    //display: block;
    height: 2.25rem;
    padding-right: 0;
    // position: relative;
    top: inherit;
    width: 2.375rem;
     
}

img{
    margin-left:32px;
    margin-top: 30px;
}

.img-class{
    background: #153570;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin-left: 40%;

}