.icon{
    //display: block;
    height: 2.25rem;
    padding-right: 0;
    // position: relative;
    top: inherit;
    width: 2.375rem;
     
}

img{
    margin-left:32px;
    margin-top: 30px;
}

.img-class{
    background: #153570;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    margin-left: 40%; 
}

.card-body{
    border-left: solid 7px #153570;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

.Onboard{
    background: #1e4a9b;
    color: white;
}

.Overview{
    background: #1e4a9b;
    color: white;
}

.card-title{
    //margin-left: 40%;
    text-align: center;
    margin-top: 15px;
}

.Overview-disabled{
    disabled: true;
    background:orange;
}