h1{
  text-align: center;
}

.login-form-1{
  border-right: 2px solid #143f8c;
}

.card-title{
  text-align: center;
}

input:focus{
  outline: 0 !important;
  border: solid 2px #143f8c;
  box-shadow: none !important;
}

.ch2{
  background:#143f8c;
  color: white;
}