<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="confirmation" *ngIf="sent; else elseBlock">
    <div class="forpadding">
        <h3><b>
          Thank you.. Please wait for approval to continue the process</b></h3>
        <p> You can CLOSE this window now</p>
    </div>
</div>

<ng-template #elseBlock>
  <h1>Welcome to IBM Bank connect</h1>
  <br>
  <h4>Please Setup Admin profile to continue</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <form [formGroup]="signupForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
          <label for="exampleInputAdminName">First Name</label>
          <input type="text" class="form-control" formControlName="fname" placeholder="Enter First Name">
        </div>
        <div class="form-group">
          <label for="exampleInputAdminName">Last Name</label>
          <input type="text" class="form-control" formControlName="lname" placeholder="Enter Last Name">
        </div>
        <div class="form-group">
              <label for="exampleInputAdminName">Organisation Name</label>
              <input type="text" class="form-control" formControlName="org" placeholder="Enter Organisation Name">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>

        <div class="form-group">
          <label for="exampleInputPass1">Set Password</label>
          <input type="password" class="form-control" formControlName="pass" id="exampleInputPass1" placeholder="Enter Password">
        </div>

      <!--
        <div class="form-group">
          <label for="exampleInputPass2">Re-Type Password</label>
          <input type="password" class="form-control" formControlName="pass2" id="exampleInputPass2" placeholder="Re-Type Password">
        </div> -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-4">

    </div>
  </div>

</ng-template>
