// ===========this img css is for carosel image================
img{
    height: 400px;
    width: 100%;
}

.container-guide{
  background-color: #f8f8f8;
  padding: 50px 0;
}

.container-content{
  margin: 0 25px;
  text-align: left;
}

.content-button{
  margin: 0 30px;
  text-align: left;
}

.content-button{
  display: inline-block;
  background-color: #143f8c;
  font-size: 15px;
  line-height: 1.45;
  padding: 20px 25px 20px 55px;
  text-align: left;
  text-indent: -30px;
  text-transform: none;
  white-space: inherit;
  border-radius: 6px;
}

.content-button a{
    margin: 0;
    max-width: 300px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    color: #fff;
  }

// ======================== MY STYLES =================================
.small-card{
    background: rgba(10, 27, 80, 1.0);
    border: 0.0625rem solid #384e86;
    color: #fff;
    font-family: 'Roboto',sans-serif;
    font-size: 0.75rem;
    height: 5rem;
    line-height: 1.18;
    overflow: hidden;
    padding: 0 0 20px;
    text-align: center;
    margin:5px 5px 5px 5px;
    border-radius: 5px;
}

.small-card:nth-child(1){
    margin-left: 45px;
}
.small-card:nth-child(4){
    margin-left: 45px;
}
.back{
    margin-top:25px;
    background: #153570;
    //background-image: linear-gradient(to right, #153570 , #0040ff);
}

.part1{
    background:rgba(255,255,255,0.08);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: dashed 2px white;
}
.part2{
    background:rgba(255,255,255,0.08);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: dashed 2px white;
}
.text-head{
    color: #CBE3ff;
    font-size: 38px;
    font-family: 'Work Sans', sans-serif;
}
.text{
    color: white;
    font-size: 16px;
}

.icon{
    display: block;
    height: 2.25rem;
    margin: 12px auto 6px;
    padding-right: 0;
    position: inherit;
    top: inherit;
    width: 2.375rem;
}

.explore{
    background: #153570;
    color:white;
    font:16px;
    padding: 13px 22px;
}

.back2{
    margin-top:25px;
    margin-bottom:25px;
    background: #153570;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    border-bottom: solid 1px white;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.services{
    background: #1b4491;
    color: white;   
}