.container{
  background-color: #f8f8f8;
  padding: 50px 0;
}

.container-content{
  margin: 0 25px;
  text-align: left;
}

.content-button{
  margin: 0 30px;
  text-align: left;
}

.content-button{
  display: inline-block;
  background-color: #143f8c;
  font-size: 15px;
  line-height: 1.45;
  padding: 20px 25px 20px 55px;
  text-align: left;
  text-indent: -30px;
  text-transform: none;
  white-space: inherit;
  border-radius: 6px;
}

.content-button a{
    margin: 0;
    max-width: 300px;
    outline: none;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    color: #fff;
  }

