
<div class="confirmation" *ngIf="sent; else elseBlock">
  <p> An Email has been sent to your Bank email. Please click on the link in your email to continue.</p>
  <p><b> You can CLOSE this window now</b></p>
</div>

<ng-template #elseBlock>
  <div class="row">
    <h3><b>Register Bank account</b></h3><br>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <form [formGroup]="createBankAccountForm" (ngSubmit) = "onSubmit()">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select Bank</label>
          <select class="form-control" formControlName="bankname">
            <option *ngFor="let list of allBanks" [ngValue]="list" value="{{list.value}}">
             {{ list.viewValue }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputUsername1">Email address</label>
          <input type="text" class="form-control" formControlName="email" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="Enter Email">
        </div>

        <div class="form-group">
          <label for="exampleInputPass1">Password</label>
          <input type="password" class="form-control" formControlName="pass" id="exampleInputPass1" placeholder="Enter Password">
        </div>

      <!--
        <div class="form-group">
          <label for="exampleInputPass2">Re-Type Password</label>
          <input type="password" class="form-control" formControlName="pass2" id="exampleInputPass2" placeholder="Re-Type Password">
        </div> -->

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-4">

    </div>
  </div>

</ng-template>
