<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<header>
  <div class="navcontainer">
    <a routerLink="/">{{ appTitle }}</a>
    <nav>
      <ul>
        <!-- <li ><a routerLink="/idbpintegrate">Integrate IDBP</a></li> -->
        <!-- hide the above link -->
        <li><a routerLink="/support">Support</a></li>
        <li><a routerLink="/adminprofile"><i class='fas fa-user-alt' style='font-size:24px'></i></a></li>
      </ul>
    </nav>
  </div>
</header>
