h2,h4,h6,p,strong{
  text-align: center;
}

button{
  margin-left: 45%;
}

.confirmation{
  text-align: center;
}

.spinner-border{
  color: #143f8c !important;
}

.secure-token-loading{
  color: #143f8c;
  text-align: center;
}
