<h3><b>Your account details</b></h3>
<br>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <ul>
            <li><b>Admin Name: </b>{{show_admin_profile.admin}}</li>
            <li><b>First Name: </b>{{show_admin_profile.fname}}</li>
            <li><b>Last Name: </b>{{show_admin_profile.lname}}</li>
            <li><b>Your Email: </b>{{show_admin_profile.useremail}}</li>
        </ul>
    </div>
    <div class="col-4"></div>
  </div>
</div>

